//Fonts
$font__title:'OpenSans-Bold';
$font__text:'OpenSans-Regular';
$font__header:'OpenSans-SemiBold';
$font__subtitle:'Freestyle Script';
$font__logo:'Champagne&Limousines-Bold';
$font__quote:'OpenSans-Italic';

//colors header
$color__header--nav:#555555;
$color__header--navActive:#5363db;
$color__logo--name:#5363db;
//colors form
$color_form_input:#f2f2f2;
$color_form_button:#5b6ceb;
$color_form_button--hover:#475bf1;
$color_form_title:#5363db;
//colors slide
$color_slide_description:#fff;
//colors our classes
$color_classes_subheader:#5b6ceb;
$color_classes_subheader_text:#777777;
$color_classes_title:#777777;
$color_classes_description:#555555;
$color_classes_subscription:#999999;