.header{
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 5;
  top:0;
  background-color: #fff;
  overflow: hidden;

  @media (max-width: 800px) {
    height: 50px;
  }

  .nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1%;

    @media (max-width: 800px) {
      margin-top: 2%;
      }


    &__left{
      display: inline-block;
      vertical-align: top;

  }
    &__right{
      display: inline-block;
      vertical-align: top;
    }

    &__link{
      display: inline-block;
      vertical-align: top;
      margin-right: 20px ;
      text-decoration: none;
      font-family: $font__header;
      font-size:0.975rem;
      color: $color__header--nav;
      transition: 0.5s;
      cursor: pointer;

      @media (max-width: 800px) {
        margin-right: 40px;
      }

      &:last-child{
        margin-right: 0;

        @media (max-width: 800px) {
          margin-right: 20px;
        }
      }

      &:hover{
        color: $color__header--navActive;
      }

    }

  }
  .active{
    color: $color__header--navActive;
    &:after{
      display: block;
      content: '';
      height: 1px;
      width: 30px;
      margin: auto;
      border-radius: 2px;
      background-color: $color__header--navActive;
    }
  }

  .logo{
    display: inline-block;
    text-decoration: none;

    @media (max-width: 800px) {
      display: none;
    }

    &__name{
      text-align: center;
      margin:0;
      line-height: 1;
      font-family: $font__logo;
      font-size: 1.5rem;
      color: $color__logo--name;
    }
  }
}
