.ourclasses{
  padding-top: 125px;
  position: relative;

  @media (max-width: 800px) {
    padding-top: 50px;
  }

  &__header{
    text-align: center;
  }
  &__subheader{
    color: $color_classes_subheader;
    font-family: $font__title;
    text-transform: uppercase;
    font-size: 1.89rem;
    margin: 0 0 15px 0;
    line-height: 1;

    &--text{
      color: $color_classes_subheader_text;
      font-family: $font__subtitle;
      font-size: 2.55rem;
      margin: 0 0 63px 0;
      @media (max-width: 800px) {
        margin: 0 0 15px 0;
      }
    }
  }


  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  &__item{
    position: relative;
    width: 570px;
    border-radius: 7px;
    box-shadow: -1px -1px 10px 1px rgba(214,214,214,1);
    margin: 0 30px 25px 0;

    @media (max-width: $laptop_m) {
      margin: 0 0 25px 0;
    }

    @media (max-width:600px) {
      margin: 0 auto 25px ;
      width: 90%;

    }

    &:nth-child(2n){
      margin: 0 0 25px 0;
    }
  }

  &__image{
    position: relative;
    max-width: 270px;
    max-height: 300px;
    display: inline-block;
    vertical-align: top;

    @media (max-width:600px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__picture{
    display: block;
    width: 100%;
    height: 100%;
    @media (max-width:600px) {
      border-radius: 10px;
    }
  }

  &__text{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin:50px 0 50px 30px;

    @media (max-width:600px) {
      display: block;
      text-align: center;
      width: 90%;
      margin: 0 auto;
    }

  }

  &__title{
    color: $color_classes_title;
    font-family: $font__title;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 30px;

    @media (max-width:600px) {
      margin:0 8px;
    }
  }
  &__description{
    color: $color_classes_description;
    font-family: $font__text;
    line-height: 22px;
    font-size: 0.875rem;
    margin:0 0 20px 0;
    @media (max-width:600px) {
      margin-bottom: 8px;
    }
  }

  &__subscription{
    color: $color_classes_subscription;
    font-family: $font__text;
    font-size: 0.85rem;
    margin-bottom: 10px;
  }
}