section.aboutus
    a.link(name='About us')
    .container
        .aboutus__con
            .aboutus__description
                .aboutus__title About us
                p.aboutus__text.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor it in lorei voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.
            .aboutus__img
                img.aboutus__picture(src='images/block5/Layer1.png')