section.bloquotes
    a.link(name='Blog')
    ul.bloquotes__list
        li.bloquotes__img
            img.bloquotes__picture(src='images/block8/Ellipsephoto.png')
        li.bloquotes__descriptions
            p.bloquotes__text.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut
                aliquip ex ea commodo consequat.
            .bloquotes__trainer
                p.bloquotes__trainer--first Trainer
                p.bloquotes__trainer--second Laura Shepard
            .bloquotes__nexttrainer
                img.bloquotes__nexttrainer--picture(src='images/block8/Layer1.png')
                p.bloquotes__nexttrainer--text Sara Taylor



