-var featuresItem=['IMPROVED OVERALL HEALTH','INCREASED CONCENTRATION','BALANCE \nYOUR MIND','SLEEP \nBETTER','WEIGHT \nLOSS','STRENGTHENS \nYOUR BONES','INCREASED \nFLEXIBILITY','LOWER BLOOD \nPRESSURE']
-var featuresText='Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'

section.features
    a.link(name='Elements')
    .container
        +features_list(featuresItem,'features',featuresText)