footer.footer
    .footer__top
        .container
            ul.footer__list
                li.footer__about
                    h2.footer__title About
                    p.footer__about__text.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi
                        laboris nisi ut aliquip ex ea commodo consequat.
                    .footer__about__icons
                        a.about__icons(href='https://ru.pinterest.com' target='_blank')
                            .about__icons--pinterest
                        a.about__icons(href='https://twitter.com' target='_blank')
                            .about__icons--twitter
                        a.about__icons(href='https://facebook.com' target='_blank')
                            .about__icons--facebook
                        a.about__icons(href='https://plus.google.com' target='_blank')
                            .about__icons--google
                        a.about__icons(href='https://www.instagram.com' target='_blank')
                            .about__icons--instagram
                li.footer__contacts
                    h2.footer__title Contact Us
                    ul.footer__contacts__list
                        li.footer__contacts__item
                            a.footer__contacts__item--link(href='https://www.google.com.ua/maps/' target='_blank')
                                .icon__contacts.icon__placeholder
                                p.footer__contacts__item--text.
                                    5419 Joseph Mountains
                                    Apt. 716
                        li.footer__contacts__item
                            a.footer__contacts__item--link(href='mailto:joga.info@example.com' target='_blank')
                                .icon__contacts.icon__envelope
                                p.footer__contacts__item--text joga.info@example.com
                        li.footer__contacts__item
                            a.footer__contacts__item--link(href='tel:+123456789,tel:+123467890' target='_blank')
                                .icon__contacts.icon__phone-call
                                p.footer__contacts__item--text.
                                    +1 234 567 89
                                    +1 234 678 90
                        li.footer__contacts__item
                            a.footer__contacts__item--link(href='http://www.example.com' target='_blank')
                                .icon__contacts.icon__planet-earth
                                p.footer__contacts__item--text www.example.com
    .footer__bottom
        .footer__copy Copyright  ©  2016-2017 Yoga classes