-var src_img=['images/block4/img1.png','images/block4/img2.png','images/block4/img3.png','images/block4/img4.png','images/block4/img5.png','images/block4/img6.png','images/block4/img7.png','images/block4/img8.png']

section.gallery
    ul.gallery__list
        +gallery(src_img,'gallery__img','gallery picture','gallery__item','gallery__link')