section.ourclasses
    a.link(name='Reservation')
    .container
        .ourclasses__header
            h2.ourclasses__subheader
                a Yoga FEATURE PROGRAM
            .ourclasses__subheader--text Our Classes
        ul.ourclasses__list
            li.ourclasses__item
                .ourclasses__image
                    img.ourclasses__picture(src='images/block3/Layer 2.png')
                .ourclasses__text
                    .ourclasses__title Yoga For Health
                    p.ourclasses__description.
                        Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    .ourclasses__subscription Ashtanga - Hatha
            li.ourclasses__item
                .ourclasses__image
                    img.ourclasses__picture(src='images/block3/Layer 3.png')
                .ourclasses__text
                    .ourclasses__title Yoga For Lose Weight
                    p.ourclasses__description.
                        Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    .ourclasses__subscription Ashtanga - Hatha
            li.ourclasses__item
                .ourclasses__image
                    img.ourclasses__picture(src='images/block3/Layer 4.png')
                .ourclasses__text
                    .ourclasses__title Yoga For Children
                    p.ourclasses__description.
                        Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    .ourclasses__subscription Ashtanga - Hatha
            li.ourclasses__item
                .ourclasses__image
                    img.ourclasses__picture(src='images/block3/Layer 5.png')
                .ourclasses__text
                    .ourclasses__title Yoga For Elderly
                    p.ourclasses__description.
                        Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    .ourclasses__subscription Ashtanga - Hatha