section.price
    ul.price__list
        li.price__item
            #header__one.price__header
                p.price__header--text
                    span.price__header--dollar $ &nbsp;
                    span.price__header--number 49
                    span.price__header--month / month
            .price__description
                p.price__text ENTRY DATE: MON – FRI
                p.price__text ENTRY TIME: 8A.M – 8P.M
                p.price__text NUTRITION ADVICER: NO
            a#button__one.price__button(href='#') Buy now
        li.price__item
            #header__two.price__header
                p.price__header--text
                    span.price__header--dollar $ &nbsp;
                    span.price__header--number 69
                    span.price__header--month / month
            .price__description
                p.price__text ENTRY DATE: MON – FRI
                p.price__text ENTRY TIME: 8A.M – 8P.M
                p.price__text NUTRITION ADVICER: YES
            a#button__two.price__button(href='#') Buy now
        li.price__item
            #header__three.price__header
                p.price__header--text
                    span.price__header--dollar $ &nbsp;
                    span.price__header--number 99
                    span.price__header--month / month
            .price__description
                p.price__text ENTRY DATE: MON – SUN
                p.price__text ENTRY TIME: 8A.M – 8P.M
                p.price__text NUTRITION ADVICER: YES
            a#button__three.price__button(href='#') Buy now
