section.slide
    .container
        ul.slide__list
            li.slide__form
                include form
            li.slide__item
                .slide__description
                    h1.slide__description--title Just Balance #[br] your Mind & Body
                    .slide__description--subtitle Create the healthy living #[br] for yourself

